body{
    display: flex;
    flex-direction: column;
    background-color: #b6cddf;
    margin: 0;
    padding: 0;
    font-family: 'FF Mark W05', sans-serif;
}

.tours {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}

.head-tour {
    background-image: url('../img/tours-head2.jpg');
    background-position: center; 
    background-size: cover;
    height: 400px;   
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.tour-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  /* width: fit-content; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 175px;
}

.tour-title {
  font-size: 20px;
  font-weight: bold;
}

.tour-description {
  margin-top: 10px;
}

.fieldElement{
  display: flex;
  flex-direction: row;
}

.headClass{
  font-weight: bolder;
}

.labelClass{
  padding-left: 5px;
}

.textTour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgTour {
  width: 20%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #000;
  margin-right: 15px;
}

